@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

::selection {
  color: rgb(232, 189, 47);
}

body {
  /* width */
  ::-webkit-scrollbar {
    width: 0.5px;
    height: 1px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #cdcdcd03;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  overflow-y: hidden;
}
